/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: #3a4d60;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.block-grey {
    width: 100%;
    background-color: #f4f9fd;
}

.block-white {
    background-color: white;
}

.block-blue {
    background-color: #00a7bb;
}

.breaking-row {
    height: 80px;
    background-color: #afebe4;
    border-top: 2px solid #3a4d60;
    border-bottom: 2px solid #3a4d60;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.col-left {
    text-align: left;
}

.col-right {
    text-align: right;
}

.list-inline {
    line-height: 100%;
}

.list-inline li {
    vertical-align: middle;
    display: inline-block;
    list-style: none;
}

.icon {
    width: 1em;
}

.down-arrow {
    font-size: 12px;
    padding-left: 3px;
}
#language-arrow {
    margin-right: 20px;
}

.w-50 {
    width: 50%;
}

h1 {
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 800;
}

p {
    font-size: 16px;
}

.btn-subtitle {
    font-size: 12px;

}
.uppercase {
    text-transform: uppercase;
}

/* buttons */
.btn-logo {
    padding: 20px 20px 20px 0;
}

.btn {
    display: inline-block;
    margin: 0 10px;
    padding: 7px 15px;
    font-size: 12px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    overflow: hidden;
}

.btn-login {
    background-color: white;
    color: #ff7a59;
    border: 1px solid #ff7a59;
}

.btn-orange {
    color: white;
    background-color: #ff7a59;
    border: 1px solid #ff7a59;
}
.btn-free {
    margin: 0;
}
.btn-large {
    padding: 15px 35px;
    margin: 30px 0;
}

.btn-login:hover {
    background-color: #fff1ee;
    color: #ff7a59;
}
.btn-orange:hover {
    background-color: #ffbcac;
    color: #fff;
    border: 1px solid #ffbcac;
}

/* header */
.top-fixed {
    position: fixed;
    top: 0;
    box-shadow: 0 2px 4px rgba(45, 62, 80, 0.2);
}

#header-fixed { 
    height: 80px;
    padding: 25px 0;
    color: #3a4d60;
    font-size: 14px;
}

.list-left {
    padding-top: 7px;
}

li > img {
    height: 14px;
}

.list-inline a {
    padding: 10px 5px;
}
.list-inline a:not(.btn) {
    font-size: 14px;
    text-decoration: none;
    color: #3a4d60;
}

.contact {
    padding-left: 20px;
    border-left: 1.5px solid #3a4d60;
}

/* nav */
.header-nav {
    line-height: 80px;
    padding-top: 80px;
}

.nav-left img {
    vertical-align: middle;
}

.nav-right {
    vertical-align: middle;
}

.nav-right > .list-inline {
    line-height: 80px;
}

.nav-right li:not(:last-child) {
    margin-right: 15px;
}

#header-fixed a:hover:not(.btn),
.header-nav a:hover:not(.btn) {
    color: #007a8c;
    font-weight: bold;
    text-decoration: underline;
}

#jumbotron {
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to top right,#fef8f0,#fff3ee,#fff1ee)
}

#jumbotron-banner{
    width: 40%;
    position: absolute;
    top: 30%;
}

#jumbotron-picture {
    width: 100%;
    height: 100%;
    background-image: url(../img/jumbotron.png);
    background-position: 110% 10%;
    background-repeat: no-repeat;
}

/* main */

/* footer */